@using BankingWeb.Controllers
@model BankingWeb.Models.UserModel
@{
    ViewBag.Title = "New user";
}
<form action="@Url.Action("Add", "User")" method="POST">
<fieldset>
    <legend>New user </legend>
    <label for="username">
        Username
    </label>
    <input type="text" id="username" name="username" placeholder="Username" class="required" value="@Model.Username" maxlength="20" pattern="[A-Za-z0-9]{4,}">
    <span class="help-line">Field UserName consist of the 4-20 letters or numbers </span>
    <label for="password">
        Password
    </label>
    <input type="password" id="password" name="password" required maxlength="16" value="@Model.Password" pattern="[A-Za-z0-9]{4,}"/>
    <span class="help-line">Field Password consist of the 4-16 letters or numbers</span>
    <label for="first-name">
        First Name
    </label>
    <input type="text" id="first-name" name="firstName" placeholder="First Name" value="@Model.FirstName" required maxlength="10" pattern="[A-Za-z]{3,}"/>
    <span class="help-line">Field FirstName consist of the 3-10 letters</span>
    <label for="first-name">
        Last Name
    </label>
    <input type="text" id="last-name" name="lastName" placeholder="Last Name" value="@Model.LastName" required  maxlength="15" pattern="[A-Za-z]{3,}"/>
    <span class="help-line">Field LastName consist of the 3-15 letters</span>
    <label for="email">
        Email
    </label>
    <input id="emailvalid" type="email"  name="email" placeholder="Email" value="@Model.Email" required />
    <span class=" help-line">Enter valid email</span>
    <!-- 
    pattern="[A-Za-z0-9]{2,10}@('@')[a-z]{2,6}.[a-z]{2,4}"
    pattern=""
    -->
    <label for="phone">
        Phone
    </label>
    <input type="text" id="phone" name="phone" placeholder="Phone"  maxlength="15" value="@Model.Phone" required pattern="^(\+[1-9]{1}[0-9]{2})?[1-9]{2}[1-9]{1}[0-9]{6,12}$"/>
    <span class="help-line">Enter phone number in format +375xxxxxxxxx or xxxxxxxxx</span>
    <label for="birthday">
        Birthday
    </label>
    <input type="text" placeholder="Birthday" id="birthday" name="birthday" value="@Model.Birthday" data-date-format="@BaseController.DateFormat.ToLower()" 
        required  />
        <span class="help-line">Select birthday in the range of 18 to 120</span>
    <input type="hidden" name="role" value="@Model.Role"/>
    <label for="region">Region</label>
    <select name="region" id="region">
        @foreach (var region in Model.Regions)
        {
            <option value="@region.Name">@region.Name</option>
        }
    </select>
    <span class="help-line">Select region</span>
    <div>
        <button  type="submit" class="btn" >
            Create
        </button>
    </div>
</fieldset>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $("#birthday").datepicker({ viewMode: 2 });
    });
</script>


