@using BankingWeb.Controllers
@model IList<BankingDAL.Entities.User>
@{
    ViewBag.Title = "Clients";
}
<h1>
    Clients</h1>
<div class="control-group">
    <a href="@Url.Action("Add", "User", new { role = BaseController.Client })">
        <button class="btn" id="add-client">
            Add client
        </button>
    </a>
</div>
<table class="table table-striped">
    <tr>
        <th>
            №
        </th>
        <th>
            Username
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Actions
        </th>
    </tr>
    @for (var i = 0; i < Model.Count; ++i)
    {
        <tr>
            <td>
                @(i + 1)
            </td>
            <td>
                @Model[i].Username
            </td>
            <td>
                @Model[i].FirstName
            </td>
            <td>
                @Model[i].LastName
            </td>
            <td>
                <a href="@Url.Action("Index", "User", new {id = Model[i].Id})">
                    Information
                </a>
                <a href="@Url.Action("Delete", "User", new {id = Model[i].Id})">
                    Delete
                </a>
            </td>
        </tr>
    }
</table>
<script type="text/javascript">
</script>
