@using BankingWeb.Controllers
@model BankingDAL.Entities.User
@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}
<h2>
    User details
</h2>
<div class="container-information">
    <div class="information">
        <table class="table table-striped">
            <tr>
                <th>
                    User Name
                </th>
                <th>
                    @Model.Username
                </th>
            </tr>
            <tr>
                <th>
                    First Name
                </th>
                <th>@Model.FirstName
                </th>
            </tr>
            <tr>
                <th>
                    Last Name
                </th>
                <th>@Model.LastName
                </th>
            </tr>
            <tr>
                <th>
                    Email
                </th>
                <th>@Model.Email
                </th>
            </tr>
            <tr>
                <th>
                    Phone
                </th>
                <th>@Model.Phone
                </th>
            </tr>
            <tr>
                <th>
                    Birthday
                </th>
                <th>@Model.Birthday
                </th>
            </tr>
        </table>
    </div>
    @if (Model.Role.Name.Equals(BaseController.Client))
    {
        <h2>
            User accounts
        </h2>
        <div class="control-group">
            <a href="@Url.Action("Add", "Account", new { username = Model.Username })">
                <button class="btn" id="add-account">
                    Add account
                </button>
            </a>
        </div>
        <table class="table table-striped">
            <tr>
                <th>
                    №
                </th>
                <th>
                    Account number
                </th>
                <th>
                    Balance
                </th>
                <th>
                    Expiration Date
                </th>
                <th>
                    Active
                </th>
                <th>
                    Actions
                </th>
            </tr>
            @for (var i = 0; i < Model.Accounts.Count; ++i)
            {
                <tr>
                    <td>
                        @(i + 1)
                    </td>
                    <td>
                        @Model.Accounts[i].Number
                    </td>
                    <td>
                        @foreach (var money in Model.Accounts[i].Balance.Where(m => m.Value != 0))
                        {
                            @(money.Value + " " + money.Currency.Symbol)
                            if (Model.Accounts[i].Balance.Last(m => m.Value != 0) != money)
                            {
                            @(" / ")
                            }
                        }
                    </td>
                    <td>
                        @Model.Accounts[i].ExpirationDate.ToString(BaseController.ShortDateFormat)
                    </td>
                    <td>
                        @Model.Accounts[i].IsActive
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Account", new { id = Model.Accounts[i].Id })">Edit </a>
                        <a href="@Url.Action("Block", "Account", new { id = Model.Accounts[i].Id })">
                            @(Model.Accounts[i].IsActive ? "Block" : "Unblock")</a> <a href="@Url.Action("Delete", "Account", new { id = Model.Accounts[i].Id })">
                                Delete </a>
                    </td>
                </tr>
            }
        </table>
    }
</div>
