@using BankingWeb.Controllers
@model BankingWeb.Models.PaymentsModel
@{
    ViewBag.Title = "History";
}
<h1>
    History
</h1>
<form action="@Url.Action("History", "Payment")" method="GET" class="form-inline">
<label for="from">
    From
</label>
<input type="text" value="@Model.From" id="from" name="from" data-date-format="@BaseController.DateFormat.ToLower()"/>
<label for="to">
    To
</label>
<input type="text" value="@Model.To" id="to" name="to" data-date-format="@BaseController.DateFormat.ToLower()"/>
<button type="submit" class="btn">
    Show
</button>
</form>
<table class="table table-striped">
    <tr>
        <th>
            №
        </th>
        <th>
            Amount
        </th>
        <th>
            From
        </th>
        <th>
            To
        </th>
        <th>
            Service Identifier
        </th>
        <th>
            Date
        </th>
        <th>
            State
        </th>
    </tr>
    @for (var i = 0; i < Model.Payments.Count; ++i)
    {
        <tr>
            <td>
                @(i + Model.Page.Capacity * (Model.Page.Number - 1) + 1)
            </td>
            <td>
                @Model.Payments[i].Value
            </td>
            <td>
                @Model.Payments[i].From.Number
            </td>
            <td>
                @Model.Payments[i].To.Number
            </td>
            <td>
                @(Model.Payments[i].ServiceIdentifier ?? "-")
            </td>
            <td>
                @Model.Payments[i].Date
            </td>
            <td>
                @Model.Payments[i].State
            </td>
        </tr> 
    }
</table>
<div class="pagination pagination-centered">
    <ul>
        @if (!Model.Page.IsFirst)
        {
            <li><a href="@Url.Action("All", "User", new { page = Model.Page.Number - 1 })">Prev
            </a></li>
        }
        @for (var i = 1; i <= Model.Page.Count; ++i)
        {
            <li class="@(Model.Page.Number == i ? "active" : "")"><a href="@Url.Action("All", "User", new { page = i })">
                @i
            </a></li>
        }
        @if (!Model.Page.IsLast)
        {
            <li><a href="@Url.Action("All", "User", new { page = Model.Page.Number + 1 })">Next
            </a></li>
        }
    </ul>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#from").add("#to").datepicker({ viewMode: 1 });
    });
</script>
