@using BankingWeb.Controllers
@model BankingWeb.Models.PaymentModel
@{
    ViewBag.Title = "Pay";
}
<form action="@Url.Action("Pay", "Payment")" method="POST">
<fieldset>
    <legend>Payment</legend>
    <label for="amount">
        Amount
    </label>
    <div class="input-append">
        <input type="number" placeholder="Amount" name="value.Value" id="amount" min="0"
            required />
    <span class="help-line">Enter the amount of the invoice</span>
        <select name="value.Name">
            @foreach (var currency in Model.Currencies)
            {
                <option value="@currency.Name">@currency.Symbol</option>
            }
        </select>
    </div>
    <label for="account-expiration">
        Account expiration date
    </label>
    <input type="text" placeholder="Date" id="account-expiration" name="from.ExpirationDate" data-date-format="@BaseController.ShortDateFormat.ToLower()" required />
    <span class="help-line">Enter expiration date </span>
    <label for="account-number">
        Account
    </label>
    <select name="from.Number" id="account-number">
        @foreach (var account in Model.Accounts)
        {
            <option value="@account.Number">@account.Number</option>
        }
    </select>
    <span class="help-line">Select your account</span>
    @if (Model.Service == null)
    {
        <label for="recipient-account-number">
            Recipient's account
        </label>
        <input type="text" placeholder="Recipient" name="to.Number" id="recipient-account-number" maxlength="13" required pattern="[0-9]{13}" />
        <span class="help-line">Enter recipient account number</span>
    }
    else
    {
        <label for="service-identifier">
            @Model.Service.IdentifierDescription
        </label>
        <input type="text" placeholder="@Model.Service.IdentifierDescription" name="serviceIdentifier" id="service-identifier">
        <input type="hidden" name="to.Number" value="@Model.Service.Account.Number"/>
        <input type="hidden" name="description" value="@Model.Service.Name"/>
    }
    <label for="personal-code">
        Personal code
    </label>
    <input type="password" name="personalCode" id="personal-code">
    <span class="help-line">Enter your Peronal Code</span>
    <label class="checkbox">
        <input type="checkbox" name="isAutomatic" value="@Model.IsAutomatic">
        <input type="hidden" name="isAutomatic" value="false"/>
        Pay monthly
    </label>
    <div>
        <button type="submit" class="btn">
            Pay
        </button>
    </div>
</fieldset>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $("#account-expiration").datepicker({ viewMode: 1, minViewMode: 1 });
    });
</script>
