@using BankingWeb.Controllers
@model BankingWeb.Models.ServiceModel

@{
    ViewBag.Title = "New service";
}

<form action="@Url.Action("Add", "Service")" method="POST">
<fieldset>
    <legend>New service </legend>
    <label for="name">
        Name
    </label>
    <input type="text" id="name" name="name" placeholder="Name" value="@Model.Name" required pattern="[A-Za-z]{3,}" maxlength="10" />
    <span class="help-line">Enter name services,use only letters</span>
    <label for="description">
        Description
    </label>
    <input type="text" id="description" name="description" placeholder="Description" value="@Model.Description" required pattern="[-A-Za-z0-9\s]{3,}" maxlength="30" />
    <span class="help-line">Enter description services,use letters and digits</span>
    <label for="identifier-description">
        Identifier description
    </label>
    <input type="text" id="identifier-description" name="identifierDescription" placeholder="Identifier description" value="@Model.IdentifierDescription" required pattern="[-A-Za-z\s]{3,}" maxlength="10" />
    <span class="help-line">Enter identifier description,use only letters</span>
    <label for="owner">
        Account
    </label>
    <input type="text" id="account" name="account" placeholder="Account number" value="@Model.Account" maxlength="13" required pattern="[0-9]{13}" />
    <span class="help-line">Enter existing account number</span>
    <label for="region">
        Regions
    </label>
    <select name="region" id="region">
        @foreach (var region in Model.Regions)
        {
            <option value="@region.Name">@region.Name</option>
        }
    </select>
    <span class="help-line">Choose region</span>
    <div>
        <button type="submit" class="btn">
            Create
        </button>
    </div>
</fieldset>
</form>
